.contactform{
    width:80%;
    margin:auto;
    margin-top:20px;
}
.contactus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:40px;
}
.contactbutton{
    width: 20%;
    padding: 5px;
    margin-right:10px;
    background:#d3a578;
    color: white;
    font-size: 17px;
    border:none;
    cursor: pointer;
    text-align: center;
    margin:auto;
}

.edit_hover_class .ic{
    visibility:hidden;
  }
  .edit_hover_class:hover .ic {
   visibility:visible;
   color:var(--pink)!important;
  }
  @media screen and (max-width:768px) {
    .contactus{
        padding:0px 20px;
    }
    .contactbutton{
        font-size: 14px;
    }
}
@media screen and (max-width:425px) {
    .contactus{
        padding:0px 20px;
    }
    .contactbutton{
        font-size: 12px;
    }
}
  