footer{
  background-color: #4d1601;
  height:50px;
  position: relative;
  left: 0;
  width: 100%;
  bottom: -30px;
  text-align: center;
  color: white;
  
}

ul{
    display: flex;
    list-style: none;
    padding:10px;
    align-items: center;
    justify-content: center;

  }
 
  .footerlinks{
    color:var(--white)!important;
    padding:0 20px;
    text-decoration: none!important;

  }
  